@import url("https://fonts.googleapis.com/css2?family=Sacramento");

@tailwind base;
@tailwind components;
@tailwind utilities;

/* 
  Note: The styles for this gradient grid background is heavily inspired by the creator of this amazing site (https://dub.sh) – all credits go to them! 
*/


.font-title {
  font-family: 'Arapey';
}

.font-nav {
  font-family: 'Arapey';
}

.font-aboutme {
  font-family: 'Arapey';
}

.font-bookcard {
  font-family: 'Caladea';
}

.font-addpost {
  font-family: 'Arapey';
}


.font-review {
  font-family: 'Arapey';
}